trigger:
- master
- rel/*

pr:
- master
- rel/*

pool:
  vmImage: vs2017-win2016

steps:
- task: DotNetCoreInstaller@0
  displayName: Install Dot Net Core v2.2.1
  inputs:
    version: '2.2.103'
    
- task: BatchScript@1
  inputs:
    filename: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\Common7\\Tools\\VsDevCmd.bat"
    arguments: -no_logo
    modifyEnvironment: true
  displayName: Setup Environment Variables

- script: build.cmd
  displayName: Build 
  env:
    COVERALLS_TOKEN: $(COVERALLS_TOKEN)
    SIGNCLIENT_SECRET: $(SignClientSecret)
    SIGNCLIENT_USER: $(SignClientUser)
    ArtifactDirectory: $(Build.ArtifactStagingDirectory)\Packages

- task: CopyFiles@2
  inputs:
    Contents: 'artifacts/*.nupkg'
    TargetFolder: '$(build.artifactstagingdirectory)\packages'
    flattenFolders: true

- task: PublishTestResults@2
  displayName: Publish Test Results
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/testresults*.trx' 
    searchFolder: '$(System.DefaultWorkingDirectory)\artifacts\tests'

- task: CopyFiles@2
  displayName: Copy Package Artifacts
  inputs:
    Contents: 'artifacts/packages/*.nupkg'
    TargetFolder: '$(build.artifactstagingdirectory)\packages'
    flattenFolders: true

- task: PublishBuildArtifacts@1
  displayName: Publish Package Artifacts
  inputs:
    pathToPublish: '$(build.artifactstagingdirectory)\packages'
    artifactType: container
    artifactName: Packages

- task: CopyFiles@2
  displayName: Copy Binaries
  inputs:
    Contents: 'artifacts/binaries/**/*'
    TargetFolder: '$(build.artifactstagingdirectory)\binaries'

- task: PublishBuildArtifacts@1
  displayName: Publish Binaries
  inputs:
    pathToPublish: '$(build.artifactstagingdirectory)\binaries'
    artifactType: container
    artifactName: Binaries